.response
	margin-left 10%

	&__message
		margin-bottom 1em

	&__button
		width 100px
		height 2em
		font-weight 900
		color white
		text-transform uppercase
		border none
		background-color #17f
		cursor pointer
