.user

	@media all and (min-width: 640px)
		padding-right 1em
		padding-left 1em

	&__data
		float left
		width 60%


	&__name
		font-size 1.2em
		font-weight 900

		@media all and (min-width: 640px)
			float left
			padding-right 2em

	&__contacts
		margin-top .5em

		@media all and (min-width: 640px)
			margin-top 0

	&__link
		font-size 1.2em
		padding-right .5em
		text-decoration none
